body {
    border-radius: 30px;
    border: 3px solid rgb(121, 90, 90);
    padding: 10px 20px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);

    background-image: url('images/hero-bg.png');
    background-position: center;
    background-attachment: fixed;

    background-color: #979797;

    .nav-icon {
    width: 40px;      /* あなたの好みの横幅（px）に調整してください */
    height: auto;     /* 縦横比を崩さない */
    
    /* ボタンっぽくするためのちょっとした工夫（お好みで） */
    transition: transform 0.2s; /* ホバー時の動きをなめらかに */
}
.nav-icon:hover {
    transform: scale(1.1); /* 1.1倍の大きさに */
}
}